<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Thoughts Bank❤️</p>
  </div>
</body>
</html>
