<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <%- include("partials/header");-%>
  <h1 style="margin-left: 10px;"><%=title%></h1>
  <p style="margin-left: 10px;"><%=content%></p>
  <%- include("partials/footer");-%>

  </body>
</html>
